@{
    ViewBag.Title = "Narcosis101";
}

<div class="jumbotron">
    <h1>Narcosis101</h1>
    <p class="lead">AWelcome to Narcosis101.</p>
    <p>We are a dedicated retailer of Nikonos cameras, and accessories.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Cameras</h2>
        <p>
           Stuff for sale.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Lenses</h2>
        <p>
            Stuff for sale.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Flashes</h2>
        <p>
            Stuff for sale.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>