@{
    ViewBag.Title = "Narcosis101";
}

<div class="jumbotron">
    <h1>Narcosis101</h1>
    <p class="lead">AWelcome to Narcosis101.</p>
    <p>We are a dedicated retailer of Nikonos cameras, and accessories.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Cameras</h2>
        <p>
           Stuff for sale.
        </p>
        <p>@Html.ActionLink("Cameras", "Index", "Cameras")</p>
    </div>
    <div class="col-md-4">
        <h2>Lenses</h2>
        <p>
            Stuff for sale.
        </p>
        <p>@Html.ActionLink("Lenses", "Index", "Lenses")</p>
    </div>
    <div class="col-md-4">
        <h2>Flashes</h2>
        <p>
            Stuff for sale.
        </p>
        <p>@Html.ActionLink("Flashes", "Index", "Flashes")</p>
    </div>
</div>